html {
    scroll-behavior: smooth;
    font-size: tahoma;
}
body{
    font-size: tahoma;
    
    overflow-x: hidden;
}
/* LANDING PAGE */
.header{
    background: url(../images/header-cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}
.header:after{
    content: '';
    position: absolute;
    bottom: 0;
    min-width: 150%;
    background-image: url(../images/wave-bottom.svg);
    height: 275px;
}
.footer{
    height: 50px;
    color: black;
    text-align: center;
}
.header-content{
    z-index: 1;
    position: relative;
}
.header-content h1{
    font-weight: bold;
    text-transform: capitalize;
    color: white;
}
.header-content p{
    font-size: 20px;
    margin: 20px 0 25px;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: capitalize;
    color: white;
}
.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.363) !important;
    transition: background-color 200ms linear;
}
.login-btn{
    background-color: transparent;
    border: none;
    font-size: 24px;
    padding-right: 10px;
    transition: ease 0.5s;
}
.login-btn:hover{
    font-size: 26px;
}
.register-btn{
    background-color: transparent;
    border: none;
    font-size: 24px;
    transition: ease 0.5s;
}
.register-btn:hover{
    font-size: 26px;
}
.landing{
    text-align: center;
}
.about-section{
    height: fit-content;
    color: rgb(190, 22, 73);
}
.about-img{
    padding-right: 100px;
}
.text-blob{
    border: 2px solid rgb(221, 28, 86);
    /* background: url(../images/header-cover.jpg); */
    background-position: center right;
    background-attachment: fixed;
    padding: 20px 15px;
    border-radius: 10px;
    transition: ease 0.5s;
}
.text-blob:hover{
    background-color: rgb(221, 28, 86);
    color: white;
    padding: 25px;
    font-size: 26px;
    box-shadow: 5px 5px 5px rgba(221, 28, 86, 0.527);
}
.neural-section{
    background: url(../images/header-cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: white;
}
.wave-flip{
    position: relative;
    transform: rotate(180deg);
    content: '';
    min-width: 150%;
}
.neural-section:after{
    content: '';
    position: absolute;
    bottom: 0;
    min-width: 150%;
    background-image: url(../images/wave-bottom.svg);
    height: 275px;
}
/* DRAW PAGE */
.drawing{
    background: url(../images/header-cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}
.drawing-page{
    color: white;
}
#canvas{
    background-color: white;
}

/* PROFILE PAGE */
.profile-content1{
    z-index: 1;
    position: relative;
}
.profile-content1 h1{
    font-weight: bold;
    text-transform: capitalize;
    color: white;
}
.profile-content1 p{
    font-size: 20px;
    margin: 20px 0 25px;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: capitalize;
    color: white;
}
.profile-content2 {
    height: 100%;
    min-height: 100%;
}
.fa-arrow-down{
    color: white;
    font-size: 2em;
    animation: bounce 1s infinite;
}
.fa-arrow-down:hover{
    cursor: pointer;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}