{% extends "base.html" %}
{% block head %}
<meta charset="utf-8">
<title>CMPE130</title>
<meta name="author" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

{% endblock %}
{% block style %}
<style>
    .buttons {
        margin-left: 30px;
    }

    .btn {
        margin: 10px;
    }
</style>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg  navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Number Recognition</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto d-flex align-items-start">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            </li>
            <li>
                <a class="nav-link" href="{{ url_for('draw') }}">Draw</a>
            </li>
        </ul>
        <div class="my-2 my-lg-0 d-flex align-items-end">
            <ul class="navbar-nav">
                {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link login-btn" href="#" data-toggle="modal" data-target="#loginModal">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link register-btn" href="#" data-toggle="modal"
                        data-target="#registerModal">Register</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div id="drawing">
    <canvas id="canvas" style="border: 1px solid black;">

    </canvas>
    <div class="row buttons">
        <a id="download" download="image.png"><button type="button" class="btn btn-primary"
                onClick="sendData()">Save</button></a>
        <button class="btn btn-danger" id="clear">Clear</button>
    </div>
</div>

<script>
    function fillCanvasBackgroundWithColor(canvas, color) {
        // Get the 2D drawing context from the provided canvas.
        const context = canvas.getContext('2d');
        context.save();
        context.globalCompositeOperation = 'destination-over';
        context.fillStyle = color;
        context.fillRect(0, 0, canvas.width, canvas.height);
        context.restore();
    }

    // download canvas
    function sendData() {
        var obj = document.getElementById("canvas");
        fillCanvasBackgroundWithColor(obj, 'white');
        var img = obj.toDataURL('image/png');
        console.log(img)
        $.ajax({
            type: "POST",
            url: "/data",
            data: img,
            success: function (data) {
                console.log("Sent")
            }
        });
        /*
        var download = document.getElementById("download");
        var image = document.getElementById("canvas").toDataURL("image/png")
            .replace("image/png", "image/octet-stream");
        download.setAttribute("href", image);
        */
    }
    window.addEventListener("load", () => {
        const canvas = document.querySelector("#canvas");
        const ctx = canvas.getContext("2d");
        // set the ctx to draw beneath your current content
        ctx.globalCompositeOperation = 'destination-over';
        ctx.fillStyle = 'white';
        ctx.fillRect(0, 0, canvas.width, canvas.height);
        canvas.height = 328;
        canvas.width = 328;

        let paint = false;

        function start(e) {
            paint = true;
            btn = e.button;
            if (btn === 0) {
                draw(e);
            }
        }
        function end() {
            paint = false;
            ctx.beginPath();
        }
        function draw(e) {
            if (paint == false) {
                return;
            }
            ctx.lineWidth = 10;
            ctx.lineCap = "round";
            ctx.lineTo(e.clientX, e.clientY);
            ctx.stroke();
            ctx.beginPath();
            ctx.moveTo(e.clientX, e.clientY);
        }

        // event listener
        canvas.addEventListener('mousedown', start);
        canvas.addEventListener('mouseup', end);
        canvas.addEventListener('mousemove', draw)

        // clear canvas
        document.getElementById("clear").addEventListener("click", function () {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
        })

    });

</script>
{% endblock %}