{% extends "base.html" %}

{% block body %}
<title>Number Recognition Profile</title>
<nav class="navbar navbar-expand-lg  navbar-dark fixed-top">

    <a class="navbar-brand" href="#">Number Recognition</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto d-flex align-items-start">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('draw') }}">Draw</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('profile') }}" style="color: white;"><b>Profile</b></a>
            </li>
        </ul>
        <div class="my-2 my-lg-0 d-flex align-items-end">
            <ul class="navbar-nav">
                {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link login-btn" href="#" data-toggle="modal" data-target="#loginModal">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link register-btn" href="#" data-toggle="modal"
                        data-target="#registerModal">Register</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="header">
    <div class="container-fluid profile-content1" style="min-height: 100vh;">
        <div class="row landing">
            <div class="landing-title col-lg-12">
                <div style="margin-top: 200px;"></div>
                <h1>View Saved Drawings</h1>
            </div>
        </div>
        <div class="row landing">
            <div class="col-lg-12">
                <div style="margin-top: 50px;"></div>
                <img src="../static/images/draw.svg" class="img-fluid" width="400px" height="400px" alt="">
            </div>
        </div>
        <div class="row landing">
            <div class="col-lg-12">
                <div style="margin-top: 70px;"></div>
                <a href="#drawings" id="drawings"><i class="fas fa-arrow-down"></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid profile-content2" style="min-height: 100vh; margin-top: 50px;">
        <!--  USE FLASK FOR LOOP TO PRINT ALL SAVED IMAGES IN A CARD  -->
        {% if usernumbers %}
            <div class="row">
                <a href="#" style="margin-left: auto; margin-right: auto;" class="btn btn-danger delete-btn-2">Delete All</a>
            </div>
        {% endif %}
        <div class="row">
            {% for i in range(usernumbers|length) %}
            <div class="col-md-3 number-card-col">
                <div class="card" style="width: 18rem;">
                    <img src="{{usernumbers[i][0]}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">drawing</h5>
                        <p class="card-text">This number is: {{usernumbers[i][1]}}</p>
                        <a href="#" class="btn btn-danger delete-btn"
                            id={{usernumbers[i][2]}}>Delete</a>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $(".delete-btn").click(function (e) {
            console.log(this.id)
            $.ajax({
                url: '/delete/'+this.id,
                type: 'post'
            }).done(function () {
                location.reload();
            }).fail(function (jqXHR, textStatus, errorThrown) {
                location.reload();
            });
        })
    })
    $(document).ready(function () {
        $(".delete-btn-2").click(function (e) {
            $.ajax({
                url: '/delete/all/',
                type: 'post'
            }).done(function () {
                location.reload();
            }).fail(function (jqXHR, textStatus, errorThrown) {
                location.reload();
            });
        })
    })
</script>
{% endblock %}